# venv
./venv
./.venv
.venv
venv
venv/
Backend/ven/

# db
*.sqlite3

#pyCache
**/__pycache__/*
/*/__pycache__
*/__pycache__
__pycache__


#vsCode
.vscode

# Archivos
*.dot
*.png

# migrations
Backend/*/migrations/*
