@import "../../../../styles/variables.scss";

.repositionChart{
    display: block;
    text-align: center;
    border-radius: 10px;
    border: 2px solid $soft-bg;
    
    .title{
        border-bottom: 2px solid $soft-bg;
        padding: 2px;
        padding-bottom: 0px;
    }

    .alta{     
        background-color: rgb(238, 55, 55);
    }

    .baja{
        background-color: rgb(221, 164, 58);
    }
}