$state:0;
//BLACK THEME
//Back Ground
$black-main-bg: #2a3447;
$black-soft-bg: #384256;
$black-dark-bg: #222b3c;
//Text
$black-main-color: white;
$black-soft-color: #ddd;
$black-dark-color: #2a3447;

//WHITE THEME
//Back Ground
$white-main-bg: #7c8ba9;
$white-soft-bg: #84a6ea;
$white-dark-bg: #355fae;
//Text
$white-main-color: rgb(0, 0, 0);
$white-soft-color: #000000;
$white-dark-color: #595959;

//Back Ground
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
//Text
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;


.menu-desplegable{
    /* Estilos para el contenedor del interruptor */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
  
    /* Estilos para el control deslizante (slider) */
    .slider {
        //to black
        $main-bg: $black-main-bg;
        $soft-bg: $black-soft-bg;
        $dark-bg: $black-dark-bg;
        $main-color: $black-main-color;
        $soft-color: $black-soft-color;
        $dark-color: $black-dark-color;
  
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $main-bg; /* Color de fondo cuando está apagado */
        transition: 0.4s;
    }
  
    /* Estilos para el control deslizante (slider) cuando está encendido */
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: #aaaaaa;
        transition: 0.4s;
    }
  
    /* Estilos para el control deslizante (slider) cuando está encendido */
    input:checked + .slider {
        //to white
        $main-bg: $white-main-bg;
        $soft-bg: $white-soft-bg;
        $dark-bg: $white-dark-bg;
        $main-color: $white-main-color;
        $soft-color: $white-soft-color;
        $dark-color: $white-dark-color;
  
        background-color: $main-bg; /* Color de fondo cuando está encendido */
    }
  
    /* Estilos para el control deslizante (slider) cuando está encendido */
    input:checked + .slider:before {
        transform: translateX(26px);
    }
  }