@import "../../styles/variables.scss";

.sidebar {
    .section {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;

        .sectionTitle {
            font-size: 12px;
            font-weight: 200;
            color: #ffffff;
            text-transform: uppercase;
        }
        
        .module {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            border-radius: 5px;
    
            .moduleTitle {
                font-size: 12px;
                font-weight: 200;
                color: #ffffff;
                text-transform: uppercase;
            }
    
            &:hover {
                background-color: $soft-bg;
            }
        }
        
        .item{
            display: flex;
            align-items: right;
            gap: 10px;
            padding: 10px;
            border-radius: 5px;
    
            .itemTitle {
                font-size: 12px;
                font-weight: 30000;
                color: #ffffff;
            }
            
            &:hover {
                background-color: $soft-bg;
            }
        }
    }    
}