@import "../../styles/variables.scss";

.background {
    display:flex;
    background: linear-gradient($main-bg,black);
    margin: 0;
    height: 100vh;
    overflow: auto;
    
    //margin-top: 200px;
    .container.foreground {
        width: 50rem;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 100px;
        
        border-radius: 5px;
        padding: 50px 80px;
        
        
        background-color: white;
        form {
            .header {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 9px;
                width: 100%;
        
                .text {
        
                    color: rgb(49, 49, 107);
                    font-size: 48px;
                    font-weight: 700;
                }
        
                .underline {
                    width: 61px;
                    height: 6px;
                    background: rgb(49, 49, 107);
                    border-radius: 9px;
                }
            }
            
            .d-grid {
                margin-top: 40px;
            }

        }
        
    }
}
