@import "../../styles/variables.scss";

.background {
    display:flex;
    background: linear-gradient($main-bg,black);
    margin: 0;
    height: 100vh;
    overflow: auto;
    .error{
        position: fixed; /* Lo fija en su posición */
        top: 0; /* Lo coloca en la parte superior */
        left: 0; /* Lo coloca en la parte izquierda */
        width: 100%; /* Ocupa todo el ancho */
        color: #fff; /* Cambia el color del texto a tu preferencia */
        z-index: 1000; 
    }
    

    //margin-top: 200px;
    .container.foreground {
        width: 50rem;
        display: Flex;
        flex-direction: column;
        margin: auto;
        margin-top: 100px;
        
        border-radius: 5px;
        padding: 50px 80px;
        
        
        background-color: white;
        form {
            .header {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 9px;
                width: 100%;
        
                .text {
        
                    color: rgb(49, 49, 107);
                    font-size: 48px;
                    font-weight: 700;
                }
        
                .underline {
                    width: 61px;
                    height: 6px;
                    background: rgb(49, 49, 107);
                    border-radius: 9px;
                }
            }
            
            .d-grid {
                margin-top: 40px;
            }

        }
        
    }
}
