@import "../../../styles/variables.scss";


.ListByEntity{
    display: flex;
    .Filters{
        h4{
            display: block;
            text-align: center;
        }
        margin-right: 1%;
        .custom-card{
            background-color: #37445c;
            //background-color: $main-bg;
        }
        .list-items{
            padding: 0;
            padding-top: 1px;
            padding-left: 2px;
            padding-right: 2px;
            .item-button{
                width: 100%;
                display: flex;
            }
            .item-button-id{
                color: white;
            }
            .item-button-date{
                color: white;
            }
        }
    }
}