.hiddenMsg {
    display: flex;
    
    .alert {
        padding:0%;
        border:0cap;
        --bs-alert-border-radius: ;
    }
    
}

.item {

    .info {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;

        button {
            padding: 5px;
            cursor: pointer;
        }
    }
}